<Jumbo>
  <h3>{{@rental.title}}</h3>
</Jumbo>

<article class="rental detailed">
  <Rental::Image
    src={{@rental.image}}
    alt="A picture of {{@rental.title}}"
  />
  <div class="details">
    <div class="detail owner">
      <span>Department:</span> {{@rental.owner}}
    </div>
    <div class="detail location">
      <span>Office:</span> {{@rental.city}}
    </div>
    <div class="detail bedrooms">
      <span>Position:</span> {{@rental.bedrooms}}
    </div>
	<div class="detail email">
      <span>Email:</span> <a href="mailto:{{@rental.email}}">{{@rental.email}}</a>
    </div>
	<div class="detail officenumber">
      <span>Office number:</span> {{@rental.officenumber}}
    </div>
  </div>
</article>
